body{
    font-family:sans-serif, 'Arimo';
    overflow-x: hidden;
    margin: 0;
}
.top-banner-section{
    background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    height: 504px;

}
.banner-content h1{
    font-size: 40px;
    color: #fff;
    margin:  auto;
    text-align: center;
    padding-top: 200px;
}
.banner-content h2{
    font-size: 30px;
    color:#fff ;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
/* Multiple usable tag  */
.flexible-section{
    display: flex;
}
.half-width{
    width: 50%;
}
h1{
    font-size: 50px;
}
.text-orange{
    color: orange;
}
p{
    font-size:22px;
    color: gray;
    padding-bottom: 25px;
    line-height: 35px;
}
a{
    
    color: whitesmoke;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 24px;
    background-image: linear-gradient(to right,#FDC830,#F37335);
    text-decoration: none;
    font-weight: bold;
}
img{
    width: 100%;
}

/* Mid section */
.mid-section{
    padding: 50px;
}

.mid-section h1{
font-size:50px;
color: rgb(82, 78, 78);
}
.mid-content{
    margin: 118px 0;
}


/* About Section */
.about-section{
    background-image: url(image/7.png);
    background-repeat:no-repeat ;

}
.about-image{
    padding: 80px;
    margin: 40px;
    width: 303px;
}
.about-content{
    margin: 143px 0;
}

.about-content p{
    padding-bottom: 45px;
}

/* recipe Section */

.recipe-header{
    margin:0 auto;
    text-align: center;
    width: 55%;
}
.recipe-header h2{
    color:rgb(82, 78, 78);
    margin-bottom: 0;
}
.recipe-header p{
    font-size: 15px;
    line-height: normal;
}
.recipe-item{
margin: 20px;
display: flex;
}
.recipe-part{
margin: 44px;
width: 32%;
box-sizing: border-box;
border:20px solid rgb(253, 252, 252);
border-radius: 19px;
box-shadow: 10px 10px 40px rgb(167, 160, 160);
height: 475px;
}
.recipe-part img {
	border-radius: 6px;
	aspect-ratio: 1/1;
}

.recipe-part h2{
    font-weight: 900;
}
.recipe-part p{
    font-size: 16px;
    line-height: normal;
}

/*Count section  */
.count-section{
    margin-top: 67px;
}
.count-item {
	margin: 0 90px;
	box-shadow: 10px 10px 35px rgb(180, 178, 178);
	border-radius: 8px;
}
.count-part{
    margin: 0 auto;
    text-align: center;
}
.count-part h2{
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 0;
}
.count-part p{
    font-size: 17px;
}


/* footer section */

.footer-bottom{
    margin-top: 60px;
    background-color: rgb(10, 10, 10);
    padding-top: 30px;
    text-align: center;
   
}
.footer-bottom h2{
    color: rgb(134, 132, 132);
}
.footer-bottom p{
    color: rgb(172, 165, 165);
    font-size: 14px;
    padding-bottom: 90px;
    font-weight: bold;
}