body{
    font-family:sans-serif, 'Arimo';
}
.top-banner-section{
    background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    height: 504px;

}
.banner-content h1{
    font-size: 40px;
    color: #fff;
    margin:  auto;
    text-align: center;
    padding-top: 200px;
}
.banner-content h2{
    font-size: 30px;
    color:#fff ;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
/* Multiple usable tag  */
.flexible-section{
    display: flex;
}
.half-width{
    width: 50%;
}
.text-orange{
    color: orange;
}
p{
    font-size:22px;
    color: gray;
    padding-bottom: 25px;
    line-height: 35px;
}
a{
    
    color: whitesmoke;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 24px;
    background-image: linear-gradient(to right,#FDC830,#F37335);
    text-decoration: none;
    font-weight: bold;
}
img{
    width: 100%;
}

/* Mid section */
.mid-section{
    padding: 50px;
}

.mid-section h1{
font-size:50px;
color: rgb(82, 78, 78);
}
.mid-content{
    margin: 118px 0;
}
